<div class="esp-bar">
  <h6>IMPORT SEA PLANNING</h6>
</div>

<app-dynamic-gridview
  *ngIf="importfirstGridVisible"
  [data]="gridData"
  [columns]="displayedColumns"
  [tabNameNew]="IMPGENRAL"
  [tabName]="Imp_tabName"
  (rowSelected)="HandleRowActionFirstGrid($event)"
  (searchClicked)="onSearch()"
>
</app-dynamic-gridview>
<app-dynamic-forms
  *ngIf="isTabPanelVisible"
  [formGroup]="commonForm"
  [formFields]="commonFields"
  [isMandatoryField]="getMandatoryFields('GENERAL')"
  (formSubmit)="saveForm($event)"
></app-dynamic-forms>
<app-tab-panel
  [tabs]="Imp_tabLabels"
  *ngIf="isTabPanelVisible"
  [tabContents]="tabContents"
  (tabChanged)="onTabChange($event)"
></app-tab-panel>
<p-toast></p-toast>

<ng-template #IMP_GENERAL>
  <app-dynamic-forms
    [formGroup]="imp_GeneralForm"
    [formFields]="imp_GeneralFields"
    [templateId]="'IMP_GENERAL'"
    [isMandatoryField]="getMandatoryFields('IMP_GENERAL')"
    [getAutocompleteOptions]="getAutocompleteOptions.bind(this)"
    (formSubmit)="saveForm($event)"
  ></app-dynamic-forms>
  <div class="extra-fields-container mt-3">
    <div class="d-flex justify-content-between align-items-center p-3">
      <h6 class="mb-0">EXTRA FIELDS</h6>
      <button
        type="button"
        mat-icon-button
        class="small-btn"
        (click)="toggleExtraFields()"
      >
        <mat-icon class="small-icon">
          {{ extraFieldsVisible ? "remove" : "add" }}
        </mat-icon>
      </button>
    </div>
    <div *ngIf="extraFieldsVisible" class="mt-3">
      <app-dynamic-forms
        [formGroup]="imp_Gen_PrintForm"
        [formFields]="imp_Gen_PrintFields"
        [templateId]="'IMP_GENERAL'"
        [isMandatoryField]="getMandatoryFields('IMP_GENERAL')"
        [getAutocompleteOptions]="getAutocompleteOptions.bind(this)"
        (formSubmit)="saveForm($event)"
      ></app-dynamic-forms>
    </div>
  </div>
  <app-dynamic-grid-add-delete
    #gridImpComp
    [fields]="IMP_GENERAL_GRID"
    HideAction="HIDEGRIDACTION"
    [fetchMethod]="fetchGridAutocomplete"
    (deleteRow)="onDeleteRow($event)"
    [initialRows]="latestImpContGridData"
    (gridDataChange)="onExpContGridDataChange($event)"
  ></app-dynamic-grid-add-delete>
  <div class="container-fluid d-flex gap-2 col-12 ml-2 mt-4 mb-4">
    <button
      type="submit"
      class="btn custom-btn btn-success"
      *ngIf="!isModifyVisible"
      (click)="onSave('Save')"
    >
      Save
    </button>
    <button
      type="submit"
      class="btn custom-btn btn-success"
      *ngIf="isModifyVisible"
      (click)="onSave('Modify')"
    >
      Modify
    </button>
    <button
      type="submit"
      class="btn custom-btn btn-primary"
      (click)="onSearch()"
    >
      Search
    </button>
    <button
      type="reset"
      class="btn custom-btn btn-danger"
      (click)="ClearAllForms()"
    >
      Clear
    </button>
  </div>
</ng-template>

<ng-template #IMP_CONTAINER>
  <app-dynamic-forms
    [formGroup]="imp_ContainerForm"
    [formFields]="imp_ContainerFields"
    [templateId]="'IMP_CONTAINER'"
    [isMandatoryField]="getMandatoryFields('IMP_CONTAINER')"
    [getAutocompleteOptions]="getAutocompleteOptions.bind(this)"
    (formSubmit)="saveForm($event)"
  ></app-dynamic-forms>
  <div class="container-fluid d-flex gap-2 col-12 ml-2 mt-4 mb-4">
    <button
      type="submit"
      class="btn custom-btn btn-success"
      *ngIf="isContModifyVisible"
      (click)="OnContainerSave('Modify')"
    >
      Modify
    </button>
    <button
      type="reset"
      class="btn custom-btn btn-danger"
      (click)="ClearContainerForm()"
    >
      Clear
    </button>
  </div>
</ng-template>

<ng-template #IMP_VESSEL>
  <app-dynamic-forms
    [formGroup]="imp_VesselForm"
    [formFields]="imp_VesselFields"
    [templateId]="'IMP_VESSEL'"
    [isMandatoryField]="getMandatoryFields('IMP_VESSEL')"
    [getAutocompleteOptions]="getAutocompleteOptions.bind(this)"
    (formSubmit)="saveForm($event)"
  ></app-dynamic-forms>
  <div class="container-fluid d-flex gap-2 col-12 ml-2 mt-4 mb-4">
    <button
      type="submit"
      class="btn custom-btn btn-success"
      *ngIf="isVesselModifyVisible"
      (click)="OnVesselSave('Modify')"
    >
      Modify
    </button>
    <button
      type="reset"
      class="btn custom-btn btn-danger"
      (click)="ClearVesselForm()"
    >
      Clear
    </button>
  </div>
</ng-template>

<app-dynamic-gridview
  *ngIf="isGridVisible"
  [data]="gridData"
  [columns]="displayedColumns"
  [tabName]="Imp_tabName"
  [actionMap]="currentActionMap"
  (rowSelected)="HandleRowAction($event)"
>
  >
</app-dynamic-gridview>
