.small-btn {
  min-width: 28px;
  width: 28px;
  height: 28px;
  padding: 0;
  border-radius: 50%;

  background-color: #e3f2fd;
  color: #1976d2;
  border: 1px solid #90caf9;
}

.small-btn:hover {
  background-color: #bbdefb;
  color: #0d47a1;
}
