.mat-elevation-z8 {
  width: 100% !important;
  overflow: auto !important;
}

.mat-mdc-header-row {
  background-color: #3d5095 !important;
  color: white !important;
  text-transform: uppercase !important;
}

.mat-header-cell {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #e0e0e0;
}
.mdc-data-table__cell,
.mdc-data-table__header-cell {
  padding: 16px 18px !important;
  border: 0.5px solid #e7e5e5 !important;
}

.custom-search-field {
  width: 250px;
  border: 1px solid #dee2ef;
  border-radius: 12px;
}

.search-icon mat-icon {
  color: #3d5095;
  opacity: 0.8;
}

.mat-mdc-form-field {
  flex-direction: row !important;
}
