<div
  class="container-fluid mt-4"
  *ngIf="isInitialized && formGroup && formFields?.length"
>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="row g-3">
    <div class="col-md-3" *ngFor="let field of formFields">
      <label
        *ngIf="field.type !== 'checkbox'"
        [for]="field.id"
        class="form-label"
        >{{ field.label }}</label
      >
      <div class="input-group" *ngIf="field.type === 'autocomplete'">
        <span
          class="input-group-text split-input"
          [ngClass]="{ important: isMandatoryField(field.id) }"
        >
          <i class="ri-search-eye-line split-input-icon"></i>
        </span>
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            [id]="field.id"
            [placeholder]="field.label"
            formControlName="{{ field.id }}"
            autocomplete="off"
            [matAutocomplete]="auto"
            (keypress)="onKeyPress($event, field)"
          />
          <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="onOptionSelected($event, field)"
          >
            <mat-option
              *ngFor="let option of getAutocompleteOptions(field.id)"
              [value]="option"
            >
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </div>
      </div>
      <input
        *ngIf="
          field.type === 'text' ||
          field.type === 'date' ||
          field.type === 'time'
        "
        [type]="field.type"
        class="form-control"
        [id]="field.id"
        formControlName="{{ field.id }}"
        [ngClass]="{ important: isMandatoryField(field.id) }"
        autocomplete="off"
        (keypress)="onKeyPress($event, field)"
        [readonly]="field.readonly || false"
      />
      <select
        *ngIf="field.type === 'select'"
        class="form-select"
        [id]="field.id"
        formControlName="{{ field.id }}"
        [ngClass]="{ important: isMandatoryField(field.id) }"
      >
        <option *ngFor="let option of field.options" [value]="option">
          {{ option }}
        </option>
      </select>
      <textarea
        *ngIf="field.type === 'textarea'"
        class="form-control description-text-box"
        [id]="field.id"
        formControlName="{{ field.id }}"
        autocomplete="off"
        [ngClass]="{ important: isMandatoryField(field.id) }"
        (keypress)="onKeyPress($event, field)"
      ></textarea>

      <!-- Checkbox -->
      <div class="form-check mt-2" *ngIf="field.type === 'checkbox'">
        <input
          type="checkbox"
          class="form-check-input"
          [id]="field.id"
          formControlName="{{ field.id }}"
        />
        <label class="form-check-label" [for]="field.id">
          {{ field.label }}
        </label>
      </div>
      <!-- File Upload -->
      <div
        class="upload-box"
        *ngIf="field.type === 'upload' && formGroup?.get(field.id)"
      >
        <input
          type="file"
          [id]="field.id"
          hidden
          #fileInput
          accept="image/*"
          (change)="onFileSelected($event, field)"
        />
        <div
          *ngIf="uploadedFiles?.[field.id]; else uploadPlaceholder"
          class="preview-box"
        >
          <img [src]="uploadedFiles[field.id]" alt="Preview" />
          <button type="button" class="remove-btn" (click)="removeFile(field)">
            ✕
          </button>
        </div>
        <ng-template #uploadPlaceholder>
          <div class="upload-placeholder" (click)="fileInput.click()">
            <i class="ri-upload-2-line upload-icon"></i>
            <p class="upload-text">Upload Image</p>
          </div>
        </ng-template>
      </div>
    </div>
  </form>
</div>
