<div class="container-fluid mt-4">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="row g-3">
    <div class="col-md-3" *ngFor="let field of formFields">
      <label [for]="field.id" class="form-label">{{ field.label }}</label>
      <div class="input-group" *ngIf="isInputGroupField(field.id)">
        <span class="input-group-text split-input">
          <i class="ri-user-line split-input-icon"></i>
        </span>
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            [id]="field.id"
            [placeholder]="field.label"
            formControlName="{{ field.id }}"
            autocomplete="off"
          />
        </div>
      </div>
      <div class="input-group" *ngIf="field.type === 'autocomplete'">
        <span
          class="input-group-text split-input"
          [ngClass]="{ important: isMandatoryField(field.id) }"
        >
          <i class="ri-user-line split-input-icon"></i>
        </span>
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            [id]="field.id"
            [placeholder]="field.label"
            formControlName="{{ field.id }}"
            autocomplete="off"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let option of getAutocompleteOptions(field.id)"
              [value]="option"
            >
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </div>
      </div>
      <input
        *ngIf="
          !isInputGroupField(field.id) &&
          (field.type === 'text' ||
            field.type === 'date' ||
            field.type === 'number')
        "
        [type]="field.type"
        class="form-control"
        [id]="field.id"
        formControlName="{{ field.id }}"
        [ngClass]="{ important: isMandatoryField(field.id) }"
        autocomplete="off"
      />
      <select
        *ngIf="field.type === 'select'"
        class="form-select"
        [id]="field.id"
        formControlName="{{ field.id }}"
      >
        <option *ngFor="let option of field.options">{{ option }}</option>
      </select>
      <textarea
        *ngIf="field.type === 'textarea'"
        class="form-control description-text-box"
        [id]="field.id"
        formControlName="{{ field.id }}"
        autocomplete="off"
        [ngClass]="{ important: isMandatoryField(field.id) }"
      ></textarea>
    </div>
  </form>
</div>
