<div class="esp-bar">
  <h6>PRE-ALERT MAIL</h6>
</div>
<p-toast></p-toast>
<app-dynamic-forms
  [formGroup]="generalForm"
  [formFields]="generalFields"
  [templateId]="'GENERAL'"
  [isMandatoryField]="getMandatoryFields('GENERAL')"
  [getAutocompleteOptions]="getAutocompleteOptions.bind(this)"
  (formSubmit)="saveForm($event)"
  (buttonClick)="handleDynamicButton($event)"
></app-dynamic-forms>
<app-dynamic-gridview
  *ngIf="isGridVisible"
  [data]="gridData"
  [tabNameNew]="PREALERT"
  [columns]="displayedColumns"
  [tabName]="tabName"
  (rowSelected)="HandleRowAction($event)"
>
  >
</app-dynamic-gridview>

<div class="container-fluid mt-4" *ngIf="isMailVisible">
  <!-- Subject -->
  <div class="row mb-3">
    <div class="col-md-12">
      <label for="mailSubject" class="form-label fw-semibold">Subject</label>
      <textarea
        id="mailSubject"
        class="form-control subject-text"
        rows="1"
        [(ngModel)]="mailSubject"
      ></textarea>
    </div>
  </div>

  <!-- To / CC -->
  <div class="row mb-3">
    <div class="col-md-6">
      <label for="toMail" class="form-label fw-semibold">To Mail</label>
      <textarea
        id="toMail"
        class="form-control"
        rows="1"
        [(ngModel)]="toMail"
      ></textarea>
    </div>
    <div class="col-md-6">
      <label for="ccMail" class="form-label fw-semibold">CC Mail</label>
      <textarea
        id="ccMail"
        class="form-control"
        rows="1"
        [(ngModel)]="ccMail"
      ></textarea>
    </div>
  </div>

  <!-- Mail Preview -->
  <div class="row mb-3" *ngIf="mailBody">
    <div class="col-md-12">
      <label class="form-label fw-semibold">Generated Mail Preview</label>
      <div class="border rounded p-3 bg-light" [innerHTML]="mailBody"></div>
    </div>
  </div>
</div>
<app-loader
  [isLoading]="isLoading"
  bdColor="rgba(0, 0, 0, 0.7)"
  size="md"
></app-loader>
