<div class="nav-container" [class.expanded]="isExpanded">
  <div class="sidebar-header">
    <img
      *ngIf="isExpanded"
      src="../../../../assets/Images/invosys.png"
      alt="Logo"
      class="logo"
    />
    <button
      (click)="toggleSidebar()"
      class="toggle-btn"
      [attr.aria-label]="isExpanded ? 'Collapse Sidebar' : 'Expand Sidebar'"
    >
      <i
        [ngClass]="
          isExpanded
            ? 'ri-arrow-left-double-fill'
            : 'ri-arrow-right-double-fill'
        "
      ></i>
    </button>
  </div>

  <div class="search-box" *ngIf="isExpanded">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      placeholder="search.."
      (input)="filterMenuItems()"
    />
    <i class="ri-search-2-line search-icon"></i>
  </div>

  <nav class="nav-menu" role="navigation">
    <ng-container *ngFor="let item of filteredMenuItems">
      <div
        class="nav-item"
        [class.active]="item.isActive"
        [class.expanded]="item.isExpanded"
      >
        <div
          class="nav-item-header"
          (click)="toggleMenuItem(item)"
          [attr.aria-expanded]="item.isExpanded"
        >
          <i class="{{ item.icon }}"></i>
          <span class="nav-label" *ngIf="isExpanded">{{ item.label }}</span>
          <span class="badge" *ngIf="isExpanded && item.badge">{{
            item.badge
          }}</span>
          <i
            *ngIf="item.children?.length && isExpanded"
            class="ri-arrow-drop-down-line expand-icon"
          ></i>
        </div>

        <div
          class="submenu"
          *ngIf="item.children?.length && item.isExpanded && isExpanded"
          [@submenuAnimation]
        >
          <div
            class="nav-item sub-item"
            *ngFor="let child of item.children"
            (click)="selectMenuItem(child)"
            [class.active]="child.isActive"
          >
            <i class="{{ child.icon }} child-icon"></i>
            <span class="nav-label">{{ child.label }}</span>
            <span class="badge" *ngIf="child.badge">{{ child.badge }}</span>
          </div>
        </div>
      </div>
    </ng-container>
  </nav>

  <div class="sidebar-footer" *ngIf="isExpanded">
    <div class="user-info">
      <a href="https://invosys.co.in/" class="username" target="_blank" rel="noopener noreferrer"
        >Developed By Invoking Systems</a
      >
    </div>
  </div>
</div>
