<app-tab-panel
  [tabs]="tabLabels"
  [tabContents]="tabContents"
  [disabledTabs]="disabledTabs"
></app-tab-panel>

<ng-template #GENERAL>
  <app-dynamic-forms
    [formGroup]="generalForm"
    [formFields]="generalFields"
    [templateId]="'GENERAL'"
    [isInputGroupField]="getInputGroupFields('GENERAL')"
    [isMandatoryField]="getMandatoryFields('GENERAL')"
    [getAutocompleteOptions]="getAutocompleteOptions.bind(this)"
    (formSubmit)="saveForm($event)"
  ></app-dynamic-forms>
  <div class="container-fluid d-flex gap-2 col-12 ml-2 mt-4 mb-4">
    <button
      type="submit"
      class="btn custom-btn btn-success"
      (click)="OnGeneralSave()"
    >
      Save
    </button>
    <button type="submit" class="btn custom-btn btn-success">Modify</button>
    <button type="submit" class="btn custom-btn btn-primary">Search</button>
    <button type="reset" class="btn custom-btn btn-danger">Clear</button>
  </div>
</ng-template>

<ng-template #OPERATION>
  <app-dynamic-forms
    [formGroup]="operationForm"
    [formFields]="operationFields"
    [templateId]="'OPERATION'"
    [isInputGroupField]="getInputGroupFields('OPERATION')"
    [isMandatoryField]="getMandatoryFields('OPERATION')"
    [getAutocompleteOptions]="getAutocompleteOptions.bind(this)"
    (formSubmit)="saveForm($event)"
  ></app-dynamic-forms>
  <div class="container-fluid d-flex gap-2 col-12 ml-2 mt-4 mb-4">
    <button
      type="submit"
      class="btn custom-btn btn-success"
      (click)="OnOperationsSave()"
    >
      Save
    </button>
    <button type="submit" class="btn custom-btn btn-success">Modify</button>
    <input type="reset" class="btn custom-btn btn-danger" value="Clear" />
  </div>
</ng-template>

<ng-template #INVOICE>
  <app-dynamic-forms
    [formGroup]="invoiceForm"
    [formFields]="invoiceFields"
    [templateId]="'INVOICE'"
    [isInputGroupField]="getInputGroupFields('INVOICE')"
    [isMandatoryField]="getMandatoryFields('INVOICE')"
    [getAutocompleteOptions]="getAutocompleteOptions.bind(this)"
    (formSubmit)="saveForm($event)"
  ></app-dynamic-forms>
  <div class="container-fluid d-flex gap-2 col-12 ml-2 mt-4 mb-4">
    <button
      type="submit"
      class="btn custom-btn btn-success"
      (click)="OnInvoiceSave()"
    >
      Save
    </button>
    <button type="submit" class="btn custom-btn btn-success">Modify</button>
    <button type="reset" class="btn custom-btn btn-danger">Clear</button>
  </div>
</ng-template>

<ng-template #CONTAINER>
  <app-dynamic-forms
    [formGroup]="containerForm"
    [formFields]="containerFields"
    [templateId]="'CONTAINER'"
    [isInputGroupField]="getInputGroupFields('CONTAINER')"
    [isMandatoryField]="getMandatoryFields('CONTAINER')"
    [getAutocompleteOptions]="getAutocompleteOptions.bind(this)"
    (formSubmit)="saveForm($event)"
  ></app-dynamic-forms>
  <div class="container-fluid d-flex gap-2 col-12 ml-2 mt-4 mb-4">
    <button
      type="submit"
      class="btn custom-btn btn-success"
      (click)="OnContainerSave()"
    >
      Save
    </button>
    <button type="submit" class="btn custom-btn btn-success">Modify</button>
    <button type="reset" class="btn custom-btn btn-danger">Clear</button>
  </div>
</ng-template>

<ng-template #VESSEL>
  <app-dynamic-forms
    [formGroup]="vesselForm"
    [formFields]="vesselFields"
    [templateId]="'VESSEL'"
    [isInputGroupField]="getInputGroupFields('VESSEL')"
    [isMandatoryField]="getMandatoryFields('VESSEL')"
    [getAutocompleteOptions]="getAutocompleteOptions.bind(this)"
    (formSubmit)="saveForm($event)"
  ></app-dynamic-forms>
  <div class="container-fluid d-flex gap-2 col-12 ml-2 mt-4 mb-4">
    <button
      type="submit"
      class="btn custom-btn btn-success"
      (click)="OnVesselSave()"
    >
      Save
    </button>
    <button type="submit" class="btn custom-btn btn-success">Modify</button>
    <button type="reset" class="btn custom-btn btn-danger">Clear</button>
  </div>
</ng-template>

<div class="mat-elevation-z8">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter table" />
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-table">
    <!-- Column Definitions -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <!-- Header and Row Declarations -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
