<div class="esp-bar">
  <h6>EXPORT SEA PLANNING</h6>
</div>
<app-dynamic-forms
  *ngIf="!(isGridVisible && tabName === 'GENERAL')"
  [formGroup]="commonForm"
  [formFields]="commonFields"
  [isMandatoryField]="getMandatoryFields('GENERAL')"
  (formSubmit)="saveForm($event)"
></app-dynamic-forms>
<app-tab-panel
  [tabs]="tabLabels"
  *ngIf="!(isGridVisible && tabName === 'GENERAL')"
  [tabContents]="tabContents"
  [disabledTabs]="disabledTabs"
  (tabChanged)="onTabChange($event)"
></app-tab-panel>
<p-toast></p-toast>
<ng-template #GENERAL>
  <app-dynamic-forms
    [formGroup]="generalForm"
    [formFields]="generalFields"
    [templateId]="'GENERAL'"
    [isMandatoryField]="getMandatoryFields('GENERAL')"
    [getAutocompleteOptions]="getAutocompleteOptions.bind(this)"
    (formSubmit)="saveForm($event)"
  ></app-dynamic-forms>
  <app-dynamic-grid-add-delete
    #gridComp
    [fields]="GENERAL_GRID"
    [fetchMethod]="fetchGridAutocomplete"
    (deleteRow)="onDeleteRow($event)"
    [initialRows]="latestExpContGridData"
    (gridDataChange)="onExpContGridDataChange($event)"
  ></app-dynamic-grid-add-delete>
  <div class="container-fluid d-flex gap-2 col-12 ml-2 mt-4 mb-4">
    <button
      type="submit"
      class="btn custom-btn btn-success"
      *ngIf="!isModifyVisible"
      (click)="onSave('Save')"
    >
      Save
    </button>
    <button
      type="submit"
      class="btn custom-btn btn-success"
      *ngIf="isModifyVisible"
      (click)="onSave('Modify')"
    >
      Modify
    </button>
    <button
      type="submit"
      class="btn custom-btn btn-primary"
      (click)="onSearch()"
    >
      Search
    </button>
    <button
      type="reset"
      class="btn custom-btn btn-danger"
      (click)="ClearAllForms()"
    >
      Clear
    </button>
  </div>
</ng-template>

<ng-template #CONTAINER>
  <app-dynamic-forms
    [formGroup]="containerForm"
    [formFields]="containerFields"
    [templateId]="'CONTAINER'"
    [isMandatoryField]="getMandatoryFields('CONTAINER')"
    [getAutocompleteOptions]="getAutocompleteOptions.bind(this)"
    (formSubmit)="saveForm($event)"
  ></app-dynamic-forms>
  <div class="container-fluid d-flex gap-2 col-12 ml-2 mt-4 mb-4">
    <button
      type="submit"
      class="btn custom-btn btn-success"
      *ngIf="!isContModifyVisible"
      (click)="OnContainerSave('Save')"
    >
      Save
    </button>
    <button
      type="submit"
      class="btn custom-btn btn-success"
      *ngIf="isContModifyVisible"
      (click)="OnContainerSave('Modify')"
    >
      Modify
    </button>
    <button
      type="reset"
      class="btn custom-btn btn-danger"
      (click)="ClearContainerForm()"
    >
      Clear
    </button>
  </div>
</ng-template>

<ng-template #VESSEL>
  <app-dynamic-forms
    [formGroup]="vesselForm"
    [formFields]="vesselFields"
    [templateId]="'VESSEL'"
    [isMandatoryField]="getMandatoryFields('VESSEL')"
    [getAutocompleteOptions]="getAutocompleteOptions.bind(this)"
    (formSubmit)="saveForm($event)"
  ></app-dynamic-forms>
  <div class="container-fluid d-flex gap-2 col-12 ml-2 mt-4 mb-4">
    <button
      type="submit"
      class="btn custom-btn btn-success"
      *ngIf="!isVesselModifyVisible"
      (click)="OnVesselSave('Save')"
    >
      Save
    </button>
    <button
      type="submit"
      class="btn custom-btn btn-success"
      *ngIf="isVesselModifyVisible"
      (click)="OnVesselSave('Modify')"
    >
      Modify
    </button>
    <button
      type="reset"
      class="btn custom-btn btn-danger"
      (click)="ClearVesselForm()"
    >
      Clear
    </button>
  </div>
</ng-template>

<app-dynamic-gridview
  *ngIf="isGridVisible"
  [data]="gridData"
  [columns]="displayedColumns"
  [tabName]="tabName"
  (rowSelected)="HandleRowAction($event)"
>
  >
</app-dynamic-gridview>
