<div class="esp-bar">
  <h6>EXPORT SEA PLANNING</h6>
</div>
<app-dynamic-forms
  *ngIf="!(isGridVisible && tabName === 'GENERAL')"
  [formGroup]="commonForm"
  [formFields]="commonFields"
  [isMandatoryField]="getMandatoryFields('GENERAL')"
  (formSubmit)="saveForm($event)"
></app-dynamic-forms>
<app-tab-panel
  [tabs]="tabLabels"
  *ngIf="!(isGridVisible && tabName === 'GENERAL')"
  [tabContents]="tabContents"
  [disabledTabs]="disabledTabs"
  (tabChanged)="onTabChange($event)"
></app-tab-panel>
<p-toast></p-toast>
<ng-template #GENERAL>
  <app-dynamic-forms
    [formGroup]="generalForm"
    [formFields]="generalFields"
    [templateId]="'GENERAL'"
    [isMandatoryField]="getMandatoryFields('GENERAL')"
    [getAutocompleteOptions]="getAutocompleteOptions.bind(this)"
    (formSubmit)="saveForm($event)"
  ></app-dynamic-forms>
  <app-dynamic-grid-add-delete
    #gridComp
    [fields]="GENERAL_GRID"
    [fetchMethod]="fetchGridAutocomplete"
    (deleteRow)="onDeleteRow($event)"
    [initialRows]="latestExpContGridData"
    (gridDataChange)="onExpContGridDataChange($event)"
  ></app-dynamic-grid-add-delete>
  <div class="container-fluid d-flex gap-2 col-12 ml-2 mt-4 mb-4">
    <button
      type="submit"
      class="btn custom-btn btn-success"
      *ngIf="!isModifyVisible"
      (click)="onSave('Save')"
    >
      Save
    </button>
    <button
      type="submit"
      class="btn custom-btn btn-success"
      *ngIf="isModifyVisible"
      (click)="onSave('Modify')"
    >
      Modify
    </button>
    <button
      type="submit"
      class="btn custom-btn btn-primary"
      (click)="onSearch()"
    >
      Search
    </button>
    <button
      type="reset"
      class="btn custom-btn btn-danger"
      (click)="ClearAllForms()"
    >
      Clear
    </button>
  </div>
</ng-template>

<ng-template #CONTAINER>
  <app-dynamic-forms
    [formGroup]="containerForm"
    [formFields]="containerFields"
    [templateId]="'CONTAINER'"
    [isMandatoryField]="getMandatoryFields('CONTAINER')"
    [getAutocompleteOptions]="getAutocompleteOptions.bind(this)"
    (formSubmit)="saveForm($event)"
  ></app-dynamic-forms>
  <div class="container-fluid d-flex gap-2 col-12 ml-2 mt-4 mb-4">
    <button
      type="submit"
      class="btn custom-btn btn-success"
      *ngIf="!isContModifyVisible"
      (click)="OnContainerSave('Save')"
    >
      Save
    </button>
    <button
      type="submit"
      class="btn custom-btn btn-success"
      *ngIf="isContModifyVisible"
      (click)="OnContainerSave('Modify')"
    >
      Modify
    </button>
    <button
      type="reset"
      class="btn custom-btn btn-danger"
      (click)="ClearContainerForm()"
    >
      Clear
    </button>
  </div>
</ng-template>

<ng-template #VESSEL>
  <app-dynamic-forms
    [formGroup]="vesselForm"
    [formFields]="vesselFields"
    [templateId]="'VESSEL'"
    [isMandatoryField]="getMandatoryFields('VESSEL')"
    [getAutocompleteOptions]="getAutocompleteOptions.bind(this)"
    (formSubmit)="saveForm($event)"
  ></app-dynamic-forms>
  <div class="container-fluid d-flex gap-2 col-12 ml-2 mt-4 mb-4">
    <button
      type="submit"
      class="btn custom-btn btn-success"
      *ngIf="!isVesselModifyVisible"
      (click)="OnVesselSave('Save')"
    >
      Save
    </button>
    <button
      type="submit"
      class="btn custom-btn btn-success"
      *ngIf="isVesselModifyVisible"
      (click)="OnVesselSave('Modify')"
    >
      Modify
    </button>
    <button
      type="reset"
      class="btn custom-btn btn-danger"
      (click)="ClearVesselForm()"
    >
      Clear
    </button>
  </div>
</ng-template>

<ng-template #MAIL>
  <div class="container-fluid mt-4">
    <div class="row mb-3 align-items-end">
      <div class="col-md-4">
        <label for="mailOption" class="form-label fw-semibold"
          >Mail Option</label
        >
        <select
          id="mailOption"
          class="form-select"
          [(ngModel)]="selectedMailOption"
        >
          <option *ngFor="let option of mailFields" [value]="option.value">
            {{ option.label }}
          </option>
        </select>
      </div>

      <!-- Action Buttons -->
      <div class="col-md-8 d-flex justify-content-start gap-3">
        <button
          type="button"
          class="btn btn-primary btn-md px-4"
          (click)="onGenerateMail()"
        >
          <i class="ri-mail-line me-1"></i> Generate Mail
        </button>

        <button
          type="button"
          *ngIf="mailBody"
          class="btn btn-success btn-md px-4"
          (click)="onSendMail()"
        >
          <i class="ri-mail-send-line me-1"></i> Send Mail
        </button>
      </div>
    </div>

    <!-- Subject -->
    <div class="row mb-3">
      <div class="col-md-12">
        <label for="mailSubject" class="form-label fw-semibold">Subject</label>
        <textarea
          id="mailSubject"
          class="form-control subject-text"
          rows="1"
          [(ngModel)]="mailSubject"
        ></textarea>
      </div>
    </div>

    <!-- To / CC -->
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="toMail" class="form-label fw-semibold">To Mail</label>
        <textarea
          id="toMail"
          class="form-control"
          rows="1"
          [(ngModel)]="toMail"
        ></textarea>
      </div>
      <div class="col-md-6">
        <label for="ccMail" class="form-label fw-semibold">CC Mail</label>
        <textarea
          id="ccMail"
          class="form-control"
          rows="1"
          [(ngModel)]="ccMail"
        ></textarea>
      </div>
    </div>

    <!-- Mail Preview -->
    <div class="row mb-3" *ngIf="mailBody">
      <div class="col-md-12">
        <label class="form-label fw-semibold">Generated Mail Preview</label>
        <div class="border rounded p-3 bg-light" [innerHTML]="mailBody"></div>
      </div>
    </div>
  </div>
  <app-loader
    [isLoading]="isLoading"
    bdColor="rgba(0, 0, 0, 0.2)"
    size="md"
  ></app-loader>
</ng-template>

<app-dynamic-gridview
  *ngIf="isGridVisible"
  [data]="gridData"
  [columns]="displayedColumns"
  [tabName]="tabName"
  (rowSelected)="HandleRowAction($event)"
>
  >
</app-dynamic-gridview>

<app-loader
  [isLoading]="isLoading"
  bdColor="rgba(0, 0, 0, 0.7)"
  size="md"
></app-loader>
