<div class="login-container">
  <div class="top"></div>
  <div class="bottom"></div>
  <div class="center">
    <div class="Logo">
      <img src="../../../../assets/Images/invosys.png" alt="" />
    </div>
    <p-toast></p-toast>
    <form #loginForm="ngForm" (ngSubmit)="onLogin()">
      <div class="login-form-control">
        <input
          type="text"
          name="email"
          autocomplete="off"
          [(ngModel)]="loginObj.UserName"
          required
          #username="ngModel"
        />
        <label>User Name</label>
        <span class="error" *ngIf="username.invalid && username.touched"
          >Username is required</span
        >
      </div>

      <div class="login-form-control">
        <input
          [type]="fieldTextType ? 'text' : 'password'"
          name="password"
          autocomplete="off"
          [(ngModel)]="loginObj.Password"
          required
          #password="ngModel"
        />
        <label>Password</label>
        <button
          type="button"
          class="eye-btn"
          (click)="togglePasswordVisibility()"
        >
          <i [class]="fieldTextType ? 'ri-eye-line' : 'ri-eye-off-line'"></i>
        </button>

        <span class="error" *ngIf="password.invalid && password.touched"
          >Password is required</span
        >
      </div>
      <button type="submit" class="form-button">Sign In</button>
    </form>
  </div>
</div>
<router-outlet></router-outlet>
