html,
body {
  height: 100%;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.important {
  border-left: 2px solid red;
}
.important:focus {
  border-color: red !important;
  box-shadow: none !important;
}
.form-control:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: none !important;
}
.form-select:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: none !important;
}
.form-floating > .form-control,
.form-floating > .form-control-plaintext,
.form-floating > .form-select {
  min-height: 0px !important;
  height: 37px !important;
}
.split-input {
  min-height: 0px !important;
  height: 37px !important;
}
.split-input .split-input-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  color: #5d85fe;
  background: #e5dafd;
}

.form-floating > .form-control:focus {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.description-text-box {
  height: 39px !important;
}
.input-group-text {
  padding: 5px !important;
}
.mat-mdc-option .mdc-list-item__primary-text {
  font-size: 9px !important;
}
.form-control {
  font-size: 13px !important;
  padding: 9px !important;
}
.form-floating > .form-control:not(:placeholder-shown) {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.custom-btn {
  padding: 8px 24px 8px 24px;
}

.mdc-tab-indicator {
  display: none !important;
}
.mat-mdc-tab.mdc-tab--active:hover .mdc-tab-indicator__content--underline {
  border: none;
}

/* Remove hover background and text color */
.mdc-tab.mat-mdc-tab.mat-focus-indicator:hover {
  background: transparent !important;
  color: inherit !important;
}

.mat-mdc-tab-ripple,
.mdc-tab__ripple {
  display: none !important;
}

.mdc-tab-indicator {
  background: transparent !important;
}

.mdc-tab:focus {
  outline: none !important;
}
/* Remove hover background ends here */
.custom-tab {
  color: #fff;
}
/* Active Tab Style */
.custom-tab.active {
  background: linear-gradient(to right, #77aff3, #b37ff7);
  color: rgb(248, 245, 245) !important;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 12px 25px;
}

.mat-tab-label {
  min-width: auto !important;
  padding: 0 !important;
}

/* tab-arrow color */

.mat-mdc-tab-header-pagination-chevron {
  border-color: #fff !important;
}

/* tabs header color */
.mat-mdc-tab-header {
  background-color: #5c7285 !important;
}
